body{
  background-color: #003049;
  color: #f77f00;
  margin: 0, auto;
  padding: 40px;
}

.Beer-Box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.Beer-Card{
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 1);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.stats {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: 0.3s ease-in;
  overflow: auto;
  height: 85%;
  background-color: #f77f00;
  color: #003049;
}

.Beer-Card:hover .stats {
  transform: translateY(0);
}